:root {
	--main-dark-color: #330080;
	--main-light-color: #9F63FF;
	--main-text-color: var(--main-dark-color);
	--main-background-color: var(--main-dark-color);
	--main-foreground-color: var(--main-light-color);
	--main-font-size: 5mm;
	--font-sans-serif: sans-serif;
	--font-serif: serif;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	width: 100%;
	height: 100%;
	font-size: var(--main-font-size);
	font-family: var(--font-sans-serif);
}

.cheap {
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 40em;
	background-color: var(--main-foreground-color);
	padding: 3em;
	border-radius: 1em;
}

h1 {
	font-family: var(--font-serif);
}
